
<header>
    <div class="alert">
        <button class="headerExclusive">App exclusiva 33% off <i class="bi bi-arrow-right arrowRight"></i></button>
    </div>
    <div class="containerHeader">
        <div class="logoHeader">
           <!-- <img src="./img/logoX.png" alt="Logo"> -->
           <img src="/img/header/logoX.png" alt="Logo">
            <p>X</p>
        </div>
        <nav>
            <ul class="horizontalMenu">
                <li><a href="#">Nuevo</a></li>
                <li>
                    <a href="#">Hombre</a>
                    <ul class="verticalMenu">
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Mujer</a>
                    <ul class="verticalMenu">
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Niños</a>
                    <ul class="verticalMenu">
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                    </ul>
                </li>
                <li><a href="#">Venta</a></li>
            </ul>
        </nav>
        <div class="menuHeader">
            <div class="search">
                <form action="" class="formSearch">
                    <button><i class="bi bi-search iconSearch"></i></button>
                    <input type="text" name="" id="" placeholder="Busqueda">
                </form>
            </div>
            <div class="bag">
                <button id="openBag"><i class="bi bi-bag iconBag"></i></button>
            </div>
            <div class="bagMenu" id="menuBag">
                <div class="bagContainerHeader">
                    <button id="closeBag"><i class="bi bi-x-lg"></i></button>
                    <h3>Carrito de Compras</h3>
                </div>
                <hr>
                <div class="bagContainerMain">
                    <div class="productBagMenu">
                        <div class="imageMenuBag">
                            <img src="/img/header/myWishlist_photo.jpg" alt="producto del usuario">
                        </div>
                        <div class="infoBagMenu">
                            <div class="titleProductBagMenu">
                                <h2>Example</h2>
                            </div>
                            <div class="priceProductBagMenu">
                                <p>Precio :</p> <span class="specialTextBagMenu"><p>$150</p></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="bagContainerMainTwo">
                    <h2>Total:</h2>
                    <span class="specialTextBagMenu"><p>$180</p></span>
                </div>
                <hr>
                <div class="bagContainerFooter">
                    <button>Comprar Ahora</button>
                </div>
            </div>
            <div class="menuHamburger">
                <button id="openHamburger"><i class="bi bi-list iconMenu"></i></button>
            </div>
            <div class="hamburgerMenu" id="hamburger">
                <div class="hamburgerContainerHeader">
                    <div class="logoHeaderHamburger">
                        <img src="/img/header/logoX.png" alt="logo adiddas">
                        <p>X</p>
                    </div>
                    <div class="btnHamburguer">
                        <div class="btnTraslate">
                            <button><i class="bi bi-translate"></i> eng <i class="bi bi-arrow-down"></i></button>
                        </div>
                        <div class="btnDollar">
                            <button><i class="bi bi-currency-dollar"></i> usd <i class="bi bi-arrow-down"></i></button>
                        </div>
                    </div>
                </div>
                <div class="containerHamburgerContent">
                    <div class="element">
                        <div class="section">
                            <a href="#">Home Page</a>
                            <button><i class="bi bi-arrow-right arrow-right"></i></button>       
                        </div>
                        <div class="img">
                            <img src="/img/header/myWishlist_photo.jpg" alt="">
                        </div>
                    </div>
                    <div class="element">
                        <div class="img">
                            <img src="/img/header/myWishlist_photo.jpg" alt="">
                        </div>
                        <div class="section">
                            <a href="#">Catalog</a>
                            <button><i class="bi bi-arrow-right arrow-right"></i></button>    
                        </div>
                    </div>
                    <div class="element">
                        <div class="section">
                            <a href="#">Contactos</a>
                            <button><i class="bi bi-arrow-right arrow-right"></i></button> 
                        </div>
                        <div class="img">
                            <img src="/img/header/myWishlist_photo.jpg" alt="">
                        </div>
                    </div>
                    <div class="element">
                        <div class="img">
                            <img src="/img/header/myWishlist_photo.jpg" alt="">
                        </div>
                        <div class="section">
                            <a href="#">Preguntas frecuentes</a>
                            <button><i class="bi bi-arrow-right arrow-right"></i></button>     
                        </div>
                    </div>
                    <div class="element">
                        <div class="section">
                            <a href="#">Perfil</a>
                            <button><i class="bi bi-arrow-right arrow-right"></i></button> 
                        </div>
        
                        <div class="img">
                            <img src="/img/header/myWishlist_photo.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="footerHamburgerContainer">
                    <div class="textFooter">
                        <p>No te detengas hasta que estés orgullosa</p>
                    </div>
                    <div class="iconFooter">
                        <button id="closeHamburger"><i class="bi bi-x-lg"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>