<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header_assets.ejs') %>
    <link rel="stylesheet" href="/css/body.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/category/category.css">
 
  <title>PAGINA DE categoria</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="category">

            <div class="container">

                <div class="infoPersonal">

                    <div class="text">
                        <nav class="navInfoPersonal">
                            <a href="#">Inicio <i class="bi bi-arrow-right"></i></a>
                            <a href="#">Catalogo <i class="bi bi-arrow-right"></i></a>
                        </nav>
                        <h3>Zapatos </h3>
                    </div>

                    <div class="title">
                        <h2>Zapatos</h2>
                    </div>
                </div>

                <hr>

                <div class="usernameTitle">
                    <h1> Camperas  Pantalones <span class="titleSpecial">Zapatos</span> tops capuchas</h1>
                </div>

                <hr>


                <div class="headerImg">

                    <div class="textCategory">
                        <p>Todos los articulos (121)</p>
                    </div>

                    <div class="buttonCategoryContainer">

                        <button class="btnCategoryOne"><i class="bi bi-filter-left"></i> Filtros</button>

                        <button class="btnCategoryTwo"><i class="bi bi-sort-down-alt"></i> Ordernar por<span class="specialTextButton">: Mas Buscadas</span></button>

                    </div>

                </div>

                <div class="productOne">

                    <div class="containerSmallProduct">

                        <div class="smallProductOne">

                            <div class="smallPOne">

                                <img src="/img/category/mohamad-khosravi-4fkUAduhoSY-unsplash.jpg" alt="">
                            
                                <div class="infoSmallP">
                                    <div class="nameProduct">
                                        <a href="#">Superstar shoes</a>
                                    </div>
    
                                    <div class="categoryProduct">
                                        <p>Originales para hombres</p>
                                    </div>
    
                                    <div class="price">
                                        <p>$115</p>
                                    </div>
                                </div>
                            </div>

                            <div class="smallPOne">

                                <img src="/img/category/mohamad-khosravi-4fkUAduhoSY-unsplash.jpg" alt="">
                            
                                <div class="infoSmallP">
                                    <div class="nameProduct">
                                        <a href="#">Samba leather shoes</a>
                                    </div>
    
                                    <div class="categoryProduct">
                                        <p>Originales para hombres</p>
                                    </div>
    
                                    <div class="price">
                                        <p>$75</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="smallProductTwo">

                            <div class="smallPOne">

                                <img src="/img/category/mohamad-khosravi-4fkUAduhoSY-unsplash.jpg" alt="">
                            
                                <div class="infoSmallP">
                                    <div class="nameProduct">
                                        <a href="#">Desconocido</a>
                                    </div>
    
                                    <div class="categoryProduct">
                                        <p>descononcido</p>
                                    </div>
    
                                    <div class="price">
                                        <p>$desconocido</p>
                                    </div>
                                </div>
                            </div>

                            <div class="smallPOne">

                                <img src="/img/category/mohamad-khosravi-4fkUAduhoSY-unsplash.jpg" alt="">
                            
                                <div class="infoSmallP">
                                    <div class="nameProduct">
                                        <a href="#">Superstar shoes</a>
                                    </div>
    
                                    <div class="categoryProduct">
                                        <p>Originales para hombres</p>
                                    </div>
    
                                    <div class="price">
                                        <p>$115</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="containerBigProduct">

                        <img src="/img/category/tom-sodoge-3vAdYH9FfG0-unsplash.jpg" alt="">
                        
                        <div class="infoSmallP">
                            <div class="nameProduct">
                                <a href="#">Dame 8 basketball shoes</a>
                            </div>

                            <div class="categoryProduct">
                                <p>Originales para hombres</p>
                            </div>

                            <div class="price">
                                <p>$130</p>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="productTwo">

                    <div class="containerBigProduct">
                        <img src="/img/category/tom-sodoge-3vAdYH9FfG0-unsplash.jpg" alt="">
                        
                        <div class="infoSmallP">
                            <div class="nameProduct">
                                <a href="#">Adi2000 shoes</a>
                            </div>

                            <div class="categoryProduct">
                                <p>Originales para hombres</p>
                            </div>

                            <div class="price">
                                <p>$110</p>
                            </div>
                        </div>
                    </div>


                    <div class="containerSmallProduct">

                        <div class="smallProductOne">

                            <div class="smallPOne">

                                <img src="/img/category/mohamad-khosravi-4fkUAduhoSY-unsplash.jpg" alt="">
                            
                                <div class="infoSmallP">
                                    <div class="nameProduct">
                                        <a href="#">Busenitz pro shoes</a>
                                    </div>
    
                                    <div class="categoryProduct">
                                        <p>Originales para hombres</p>
                                    </div>
    
                                    <div class="price">
                                        <p>$85</p>
                                    </div>
                                </div>
                            </div>

                            <div class="smallPOne">

                                <img src="/img/category/mohamad-khosravi-4fkUAduhoSY-unsplash.jpg" alt="">
                            
                                <div class="infoSmallP">
                                    <div class="nameProduct">
                                        <a href="#">nMS_R1 V2 SHOES</a>
                                    </div>
    
                                    <div class="categoryProduct">
                                        <p>Originales para hombres</p>
                                    </div>
    
                                    <div class="price">
                                        <p>$150</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="smallProductTwo">

                            <div class="smallPOne">

                                <img src="/img/category/mohamad-khosravi-4fkUAduhoSY-unsplash.jpg" alt="">
                            
                                <div class="infoSmallP">
                                    <div class="nameProduct">
                                        <a href="#">Gazelle shoes</a>
                                    </div>
    
                                    <div class="categoryProduct">
                                        <p>Originales para hombres</p>
                                    </div>
    
                                    <div class="price">
                                        <p>$100</p>
                                    </div>
                                </div>
                            </div>

                            <div class="smallPOne">

                                <img src="/img/category/mohamad-khosravi-4fkUAduhoSY-unsplash.jpg" alt="">
                            
                                <div class="infoSmallP">
                                    <div class="nameProduct">
                                        <a href="#">Ozweego shoes</a>
                                    </div>
    
                                    <div class="categoryProduct">
                                        <p>Originales para hombres</p>
                                    </div>
    
                                    <div class="price">
                                        <p>$120</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="containerCounter">
                    <div class="link">
                        <a href="#">Atras</a>
                    </div>

                    <div class="counter">

                        <div class="pageCounter">
                            <p>Pagina</p>
                        </div>

                        <div class="backNumber">
                            <p>2</p>
                            <i class="bi bi-arrow-down arrowCounter"></i>
                        </div>

                        <div class="ofNumber">
                            <p>of</p>
                            <p>4</p>
                        </div>

                    </div>

                    <div class="link">
                        <a href="#">Siguiente</a>
                    </div>
                </div>


            </div>

        </section>
    </main>
    <%- include('./partials/footer.ejs') %>

<script src="./js/wishlist.js"></script>
</body>
</html>