h3{
    color:white;
}
p{
    color:white;
}

/*Apartado numero 1: bienvenido*/

.container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    gap: 1rem;
}

.infoPersonal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    padding: 20px 0;
}

.navInfoPersonal{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navInfoPersonal > a {
    text-decoration: none;
    font-size: 1.188em;
    font-weight: 500;
    color: #c6c6c6;
    transition: all 0.3s ease;
}


.navInfoPersonal > a:hover{
    color: #000;
    transition: all 0.3s ease;
}


.usernameTitle{
    padding: 30px 0;
}

.colorSpecial {
    color: #c6c6c6;
}

.title{
    display: none;
}

.init{
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
}

.finalSectionPage{
    display: none;
}

.welcome {
    background-color: #000;
    /*height: 15vh;*/
    padding: 30px 12px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 5px;
}

.textWelcome, .titleWelcome {
    color: #fff!important;
}


.sectionActive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.sectionDisable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.sectionDisable h2 {
    color: #c6c6c6;
}


.arrowDownActive , .arrowRightActive{
    font-size: 2rem;
}

.arrowRightActive{
    color: #c6c6c6;
}

.arrowRightDisable, .arrowDownDisable{
    display: none;
}
/*Fin del apartado numero 1*/

/*Apartado numero 2: tu informacion*/

.heroContainer{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.heroOne > form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titleInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}

.info form{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
}

.form input{
    padding: 15px;
    border: 2px solid #fff;
    border-bottom: 2px solid #c6c6c6;
    transition: all 0.3s ease;
}

.form input:hover{
    padding: 15px;
    border: 2px solid #c6c6c6;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.form input:focus{
    padding: 15px;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    transition: all 0.3s ease;
    outline: none;
}


.specialForm{
    display: flex;
    align-items: center;
}

.specialForm a {
    position: absolute;
    left: 66%;
}

.specialForm input{
    padding: 15px;
    border: 2px solid #fff;
    border-bottom: 2px solid #c6c6c6;
    width: 100%;
    transition: all 0.3s ease;
}

.specialForm input:hover{
    padding: 15px;
    border: 2px solid #c6c6c6;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.specialForm input:focus{
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

/*Fin del apartado numero 2*/

/*apartado numero 3: tipo de delivery*/

.deliveryTitle{
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.optionDelivery{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.delivery > button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    border: 2px solid transparent;
    color: #c6c6c6;
    font-size: 1.5rem;
    padding: 15px 0;
    cursor: pointer;
    text-transform: uppercase;
}

.check{
    display: none;
    color: #00C514;
    font-size: 1.5rem;
}

.delivery > button:focus .check{
    display: block;
}

.delivery > button:focus{
    color: #000;
}


/*fin del apartado numero 3*/

/*apartado numero 4: los puntos mas cercanos*/

.nearestPoint{
    display: flex;
    flex-direction: column;
}

.nearestTitle{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.checkTwo{
    display: none;
    color: #00C514;
    font-size: 1.5rem;
}

.option{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: #fff;
    text-align: left;
    font-size: 1em;
    border: none;
    cursor: pointer;
    width: 100%;
}

.option:focus .checkTwo{
    display: block;
}

.optionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.optionText{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.btnHeroOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2.5rem ;
}

.btnEdit , .btnDelete{
    width: 100%;
}

.btnEdit > button{
    height: 40px;
    min-width: 130px;
    width: 95%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    padding: 5px 25px;
    background: #fff;
    color: #fff;
    font-weight: 600;
    font-size: 1.063em;
    text-align: center;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    z-index: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btnEdit > button::after{
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    bottom: 3px;
    right: 5px;
    background: #000;
    border: 1px solid #000;
    border-radius: 3px;
    transition: 0.2s;
}

.btnEdit > button:hover{
    color: #545454;
}

.btnEdit > button:hover::after{
    border: 1px solid #545454;
}

.btnEdit > button:focus{
    border: 1px solid #000;
}

.btnDelete > button{
    height: 40px;
    min-width: 130px;
    width: 95%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    padding: 5px 25px;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 1.063em;
    text-align: center;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    z-index: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btnDelete > button::after{
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    bottom: 3px;
    right: 5px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    transition: 0.2s;
}

.btnDelete > button:hover{
    color: #545454;
}

.btnDelete > button:hover::after{
    border: 1px solid #545454;
}

.btnDelete > button:focus{
    border: 1px solid #000;
}


/*fin del apartado 4*/

/*apartado 5: detalles del pedido*/
.orderDetails{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 20px ;
}


.order{
    display: flex;
    align-items: center;
    gap: 1.5rem ;
}

.imageOrder img {
    height: 30vh;
    border-radius: 5px;
}

.orderDescription{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.descriptionText{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textDescription {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textDescription p {
    text-transform: uppercase;
}
/*fin del apartado 5*/

/*apartado 6: resumen del pedido*/
.orderSummary{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.orSummary{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.summaryList{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listTitle p {
    text-transform: uppercase;
}

.total {
    padding: 20px 0px;
}

.totalTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleTotal, .totalPrice h2 {
    text-transform: uppercase;
    color: #E32B2B;
}
/*fin del apartado 6*/



@media screen and (min-width:768px) and (max-width:1023px){
    

  
    .container{
        width: 90%;
    }

    .title{
        display: block;
    }

    .init{
        flex-direction: column;
    }

    .sectionPage hr {
        display: none;
    }

    .sectionPage{
        display: flex;
        align-items: center;
    }

    .sectionActive{
        width: 29%;
    }

    .sectionDisable{
        width: 36%;
    }

    .arrowRightDisable{
        display: block;
        font-size: 2em;
    }

    .arrowDownActive{
        display: none;
    }

    .heroOne{
        gap: 2rem;
    }

    .finalSectionPage{
        display: block;
    }

    .welcome {
        display: none;
    }

    .imagePresentation{
        display: block;
    }

    .imagePresentation img {
        height: 30vh;
        width: 100%;
    }

    .info hr {
        display: none;
    }

    .titleInfo{
        justify-content: left;
    }

    .hrDelivery {
        display: none;
    }

    .deliveryTitle{
        justify-content: left;
    }

    .optionDelivery{
        flex-direction: row;
        justify-content: space-between;
    }

    .delivery{
        width: 100%;
    }

    .delivery button {
        color: #000;
    }

    .hrNearestPoint {
        display: none;
    }

    .nearestTitle {
        justify-content: left;
    }

    .nearest{
        width: 100%;
    }

    .point {
        display: flex;
        justify-content: space-between;
    }

    .option {
        width: 48%;
    }

    .btnHeroOne{
        flex-direction: row;
        margin-top: 3rem;
    }
}




@media screen and (min-width:1024px){
       .container{
        width: 85%;
    }

    .title{
        display: block;
    }

    .init{
        flex-direction: column;
    }

    .sectionPage{
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .arrowRightDisable{
        display: block;
        font-size: 2em;
    }

    .arrowDownActive{
        display: none;
    }

    .sectionActive{
        align-items: center;
        justify-content: space-between;
        width: 23%;
    }

    .sectionDisable{
        align-items: center;
        justify-content: space-between;
        width: 20%;
    }

    .finalSectionPage{
        display: block;
    }

    .presentation{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .imagePresentation{
        display: block;
        width: 50%;
    }

    .welcome{
        width: 50%;
        height: 20vh;
        justify-content: left;
    }

    .imagePresentation img {
        height: 20vh;
        width: 100%;
    }

    .heroContainer{
        flex-direction: row;
    }

    .heroOne{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }

    .info hr {
        display: none;
    }

    .titleInfo{
        justify-content: left;
    }

    .deliveryTitle{
        justify-content: left;
    }

    .form{
        flex-direction: row;
        justify-content: space-between;
    }

    .form input {
        width: 48%;
    }

    .specialForm a {
        left: 38%;
    }

    .optionDelivery {
        flex-direction: row;
        justify-content: space-between;
    }

    .hrDelivery {
        display: none;
    }

    .delivery{
        width: 100%;
    }

    .delivery button{
        color: #000;
    }

    .nearestTitle{
        justify-content: left;
    }

    .hrNearestPoint{
        display: none;
    }

    .point{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .option{
        width: 55%;
    }

    .btnHeroOne{
        flex-direction: row;
        margin-top: 2rem;
    }

}